body{
    background-color: #750f1a;
}

header{
    background-color: #ffffff;
    color: #16289c;
    font-size: 25mm;
    font-weight: bolder;
    text-align: center;
    padding: 25px;

}
footer{
    background-color: #000000;
    color: #ffffff;
    font-size: 10mm;
    text-align: center;
    padding: 10px;
}

form{
    padding: 50px;
}